mixin about_tab(name, title, checked=false)
	- let button_id = `about-tab-${name}-button`
	input(checked=checked type="radio" name="about-tab-button", id=button_id)
	label(for=button_id) #{title}
	div(class="tab")
		div(id=`about-${name}` class="code")
			if block
				block
			else
				span(class="code-comment") No data

div(id="about-window" class="window")
	div(class="window-header")
		div(class="window-grab") About
		button(class="window-button-close") #[b &times;]

	div(id="about")
		table
			tr
				td(class="logo")
					img(class="svg-gray" src="../share/svg/logo.svg" alt="PiKVM" height="40")
				td
					table
						tr #[td(colspan="2" class="title") The Open Source IP-KVM]
						tr
							td(colspan="2" class="copyright")
								| Copyright &copy; 2018-2022 #[a(target="_blank" href="mailto:mdevaev@gmail.com") Maxim Devaev]
		br
		div(class="tabs-box")
			+about_tab("meta", "Meta", true)
			+about_tab("hardware", "Hardware")
			+about_tab("version", "Version")

			+about_tab("thanks", "Thanks")
				span(class="code-comment")
					| // These kind people donated money to the PiKVM project#[br]
					| // and supported the work on it. We are very grateful#[br]
					| // for their help, and memorializing their names#[br]
					| // is the least we can do in gratitude.#[br]
					| // If you also want to support this project,#[br]
					| // you can donate on #[a(target="_blank" href="https://www.patreon.com/pikvm") Patreon]
					| or #[a(target="_blank" href="https://paypal.me/pikvm") Paypal].
				ul
					li A. Isenring
					li Aaron Graubert
					li Aaron Heise
					li Aaron Stein
					li Accalia
					li Adam Goodbar
					li Adam S
					li adipisicing
					li Adrian Basham
					li Ahmed Syed
					li Alberto Bassi
					li alejandro
					li Aleksei Brusianskii
					li Alessio Curri
					li Alex T
					li Alex Z
					li Alexander Martin
					li Alexander Pankov
					li Alexandre Jablonski
					li Alexey Kamenskiy
					li alm0241
					li Alok Anand
					li Alucard
					li Ananthaneshan Elampoornan
					li Andreas Marufke
					li Andreas Schmid
					li Andrew Brant
					li Andrew Melton
					li Andrew Reusch
					li Andrew Ruan
					li Andrzej V
					li Andy
					li Andy Keys
					li Anish Patel
					li Anix
					li Anonymous
					li Anthony Junk
					li Anton Kovalenko
					li Armen
					li Aron Green
					li Aron Perelman
					li Artem Simonov
					li Arthur Mayer
					li Arthur Woimbée
					li Ashlesh Chaudhari
					li Augusto Becciu
					li AVS Computer
					li awkspace
					li baddog
					li Bao Tin Hoang
					li Bean Co.
					li Belf Igor
					li Ben Gordon
					li Ben Scott
					li Benedikt Heine
					li Benedikt Meier
					li Benjamin Frewert
					li Benjamin Melancon
					li Benjamin Schwartz
					li Benjamin Stegmann
					li Benni Stauder
					li Bernhard Fitzke
					li Beu
					li bikmaek
					li bitjoe
					li Bits and Bytes Computers LLC
					li Bjoern Petsch
					li Blue Frog LLC
					li Bootstrapper - Programmierung erklärt
					li Bosco
					li Bradford King
					li Brainspore Networks
					li Branden Shaulis
					li Brandon Daniels
					li Brian Moses
					li Brian Vecchiarelli
					li Brian White
					li Bruno Gomes
					li Bryan Adams
					li Bryan Montgomery
					li Buzzer
					li C P ELSE
					li Calanish
					li Cameron Hatcher
					li Cameron Tacklind
					li Carl Mercier
					li Carl-Fredrik Johansson
					li Carlos Manuel Torres
					li cbad536
					li CHINATERA LIMITED
					li Chris Blackmon
					li Chris Burton
					li Chris Jackson
					li Chris Lewis
					li Chris Rizio
					li Christi King
					li Christian Schlögl
					li Christian Svensson
					li Christof Maluck
					li Christoph Dette
					li Christoffer Lund
					li Christopher Bulla
					li Christopher Hearn
					li Christopher Mandlbaur
					li Christopher Mendoza
					li Christopher Simms
					li Chucktastic
					li Cihan VURAL
					li clauskj3r
					li Clifford Coleman
					li Clinton Lee Taylor
					li Cole Imhoff
					li Colin Goodman
					li Corey Layton
					li Corey Lista
					li Craig Keenan
					li Crossfactor
					li Cruzzer
					li ctag
					li Curt Sammer
					li CyB0rgg
					li DeMentor
					li Desmond Whitt
					li Daegara
					li DailyAneurism
					li Damon Meledones
					li Dan Berkowitz
					li Dan Brakeley
					li Daniel Bowder
					li Daniel Cabrera
					li Daniel Davila
					li Danilo Saft
					li Danne
					li David
					li David Brausewetter
					li David Godibadze
					li David Howell
					li David Irvine
					li David Klinkman
					li David Niemann
					li David Shay
					li David Ye
					li David York
					li Denis
					li Denis Andreev
					li Denis Yatsenko
					li Dennis Becker
					li Dennis Joslin
					li Dennis Lomet
					li Derek Yap
					li Didrik
					li Dimitrij Jedich
					li dixon wong
					li dizztrukshin
					li Dmitry Shilov
					li Dominic Phoon
					li Dominik Klonowski
					li Egan Ford
					li Elani Ferri
					li Elliot Woo
					li Eric Phenix
					li ewook
					li eye-catcher.com
					li Fabiano Sidler
					li Far Pin Solutions, LLC
					li Felyx Gabryel
					li Fergus McKay
					li Finn Ebenritter
					li floppy
					li fo0bar
					li Foad Yousef
					li Foamy
					li Foli Ayivoh
					li Folkert Weistra
					li Francisco Pavon
					li Frank
					li Frank Sander
					li Frederick Czajka
					li Fredrik Idréus
					li Garrett Dangerfield
					li Ge Men
					li Genkinger Andreas
					li Geijer
					li George Becker
					li Georgy Brodsky
					li Gerald
					li Gerardus Vernimmen
					li Gernot Neuschröer
					li Giovanni Fulco
					li GK
					li Glen Dragon
					li Greg Winterstein
					li Gregory Smith
					li Gregory Treantos
					li Grey Cynic
					li Guenter Honisch
					li Guido Bernacchi
					li Gustin Johnson
					li György Tamás Vizi
					li Haiberg GmbH
					li Haven Zheng
					li Heibunny
					li Heikki Tiittanen
					li Helio Leonardo Pinheiro e Mota
					li Henrik Ählström
					li Henry Hood
					li HimKo
					li HouseFPV
					li Howard Simons
					li HyunohRyu
					li Icculus
					li iks
					li Invader Monks
					li IT Lifesaver
					li Ivan Ganev
					li Ivan Josiah Lapis
					li Ivan Shapovalov
					li iwbjhbweriuhf
					li J
					li J L
					li Jaanus
					li Jackson Wyatt
					li Jacob Karaffa
					li Jacob Morgan
					li James Cadd
					li James Cobb
					li James Edwards
					li James Kocher
					li James Mayhugh
					li James Ye
					li Jamie Murphy
					li Jamie Scott
					li Jan Niehusmann
					li Jari Hiltunen
					li Jason Crossley
					li Jason Downey
					li Jason Toland
					li Jasper Backer
					li Jay Davis
					li Jay Isaacs
					li Jazereel Goh
					li Jean-Daniel Croteau
					li Jean-Philippe Guilbault
					li Jeff
					li Jeff Bowman
					li Jeff Urlwin
					li Jennifer Herting
					li Jennifer Rowlett
					li Jeremy Abel
					li Jeremy Hines
					li Jerremy Holland
					li Jerry Nall
					li Jerry Y. Chen
					li Jim Bailey
					li Jim Harbin
					li Jimmy Burgett
					li Jimmy Stanley
					li Joachim Bruening
					li Joe Hanson
					li Joe Hinteregger
					li Joe Ventura
					li Joel Jacobs
					li John Andersen
					li John Copeland
					li John F Glenn
					li John Kelley
					li John McGovern
					li Johnny Henson
					li Jon Ferguy
					li Joni Ruuskanen
					li Jonathan Slenders
					li Jonathan Vaughn
					li Joost Backer
					li Jordan Blake
					li Jordi Pakey-Rodriguez
					li Joris van Embden
					li Joseph Swift
					li Josh Nethery
					li Josh Ricker
					li Joshua Futterer
					li Jozef Riha
					li Jörgen Fredriksson
					li Julian Forero
					li Julian Schneider
					li Julien Angelier
					li Justin
					li Justin Waters
					li Kai Hadler
					li Kamil Chyba
					li Karl Dunne
					li Keith Muggleton
					li Ken Lee
					li Kenneth Younger III
					li Kenny Hui
					li Kevin Bajohr
					li Kevin Schwartz
					li Kevin Sherwood
					li Kiera Kujisawa
					li Kiran Schuler
					li Koloman
					li Konrad Neitzel
					li Krzysztof Żelaśkiewicz
					li Lance Ward
					li Larry Meaney
					li Lars
					li Lee Wilkinson
					li LeeNX
					li Leon Siegl
					li Leonard Feineis
					li Liran
					li Liviu Dimitriu
					li Lizardo Hernandez
					li LoCascio
					li Lordbob75
					li Lothar Schweikle-Droll
					li Louis Müller
					li LSDTripp
					li Ľubor Slušný
					li Luca Di Diomede
					li Lucio De Carli
					li Lukas Bischof
					li Lukas Kammerer
					li Lukas Söder
					li Maksim Terehin
					li Malcolm Cameron
					li Manfred Radeschnig
					li Marc Khouri
					li Marcin Wilk
					li Marcio Zimbres
					li Marco Rossi
					li Marcos Wolf
					li Marek Marczykowski-Górecki
					li Marius
					li Mar. Balske
					li Mark Farrell
					li Mark Gilbert
					li Mark Knam
					li Mark Robinson
					li Markrosoft
					li Markus Halm
					li Markus Schicker
					li Markus Sobczack
					li Marshall Bjerke
					li Marten Hermans
					li Martin Gasser
					li Martin Suelmann
					li Martin Wilhelmi
					li Marvin Honderboom
					li Mateusz Grabowski
					li Mathias Uhl
					li Matt Kane
					li Matthew Cameron
					li Mauricio Allende
					li Mecky
					li Mehmet Aydoğdu
					li Michael Bartholomew
					li Michael Bombe
					li Michael Collins
					li Michael Copeland
					li Michael Ho
					li Michael Kovacs
					li Michael Lynch
					li Michael Pennington
					li Michael Sage
					li Michael Thalmann
					li MichaelZ
					li Michel Bissonnette
					li Mikael Wikström
					li Mike Mason
					li Milan Múčka
					li Miles Davis
					li Minh Tang
					li Moez Tharani
					li Morgan Helton
					li Myron Weber
					li Nathaniel Griswold
					li Nelson Lee
					li Nicholas Jeppson
					li Nicholas Kopas
					li Nicholas Walczak
					li Nick Leffler
					li Nick Roethemeier
					li Nico Baumgartner
					li Nicolai Kragh-Hansen
					li Nigel Smith
					li Nihal Fernando
					li Nils Orbat
					li Nis Wechselberg
					li Nithin Philips
					li Nod Swal
					li Nolan Haynes
					li nubbn
					li nybble
					li Oh Be
					li Oliver Schwarz
					li Oliver Zimmer
					li Omar El-Domeiri
					li Omar Siam
					li Oscar
					li Patrick
					li Patrick Fortin-Ducharme
					li Patrick McDowell
					li Patrick Wagstrom
					li Paul Bishop
					li Paul De La Rosa
					li Paul Pietkiewicz
					li Pawel Trofimiuk
					li Peder Madsen
					li Peter
					li Peter Drayton
					li Peter Farrelly
					li Peter Okelmann
					li Petra Lohmann
					li Petri Heiskanen
					li Phil Wu
					li Philip Edwards
					li Philip Merricks
					li Pierre Brassart
					li Pierre Peine
					li posicat
					li pozitron03
					li Przemysław Szypowicz
					li P_Dmitrij
					li Qteal
					li Quattro Uno
					li Quentin Peten
					li Ralph Borchers
					li Ranc1d
					li Randall D Bilbrey
					li Raphael Schitz
					li Ref Chowdhury
					li René Rathenau
					li Ricardo Marques
					li Richard
					li Richard Bernarts
					li Richard Fancher
					li Richard Freemantle
					li Richard Michael
					li Rico Cantrell
					li Rob Holden
					li Rob Tongue
					li Robert Klauco
					li Robert Weemhoff
					li Robin Gfatter
					li Rodion DENISYUK
					li Rohit Priyadarshi
					li Rolfs 3D UG
					li Ronald LeBaron
					li Ronald Wells
					li Ronny Haldorsen
					li rotx
					li Rufo Sanchez
					li Russell Scott
					li Ryan Peacock
					li Samed Ozoglu
					li Sameul Davies
					li Samuel Vetsch
					li Samuel Walker
					li Sarah Foster
					li Sarten X
					li Satish Alwani
					li Scott
					li Scott Gagon
					li Scott Spicola
					li Scott Tusing
					li Scott Worthington
					li Sean
					li SEAT
					li Sebastian
					li Seonwoo Lee
					li Sergey Lukjanov
					li Seth Jennings
					li Shawn Butts
					li Sheran Gunasekera
					li Shichun Chen
					li Shin Guey Wong
					li Simon Evans
					li Simon Sundgaard
					li Simplistic Realities
					li Solve Technology
					li srepac
					li Stefan Bautz
					li Stefan Müller
					li Stefan Stemmer
					li Stefan Vaillant
					li Stephan Schmidt
					li Stephen Hocking
					li Steve Jones
					li Steve Kerr
					li Steve Ovens
					li Steve Stringham
					li Steven Richter
					li Stratagem Solutions Ltd
					li Sven Breckler
					li sudo34
					li Tango_Echo_Alpha
					li Tarlak Desaydrone
					li TechBear
					li Ted
					li Tejun Heo
					li TheSnowedOne
					li TheTechGiant
					li Thomas Charisoulis
					li Thomas Hagenmaier
					li Thomas Hedberg Jensen
					li Thomas Price
					li Thomas Søfteland
					li Tim Lenz
					li Tim Wilkinson
					li Timo Brinkmann
					li Timothee Besset
					li Tobias Schafferhans
					li Tom Lawson
					li Tom York
					li Tomas Kuchta
					li Tomáš hrubý
					li Torsten Droste
					li Tracy Fitch
					li Tristan Schoening
					li Truman Kilen
					li turbochris
					li tutanak
					li Tyler
					li Udo Schroeter
					li Uli Fahrer
					li Vasily Lazarev
					li Vidru Eduard
					li Vicente Salvador Cubedo
					li Viktor Aschenbrenner
					li Viktor Ekmark
					li Vlad Sterescu
					li Volker Gropp
					li Walli
					li Walter_Ego
					li William Wenzel
					li Will Froning
					li William Hooper
					li William Perrin
					li William Stearns
					li xMdb
					li Yanko Kaneti
					li Yaroslav Kulikovskikh
					li Yethal
					li Yevgeniy Kuksenko
					li Yigal Dar
					li Yogi
					li YURI LEE
					li Yurii Ostapchuk
					li Zeljko
					li zgen
					li Zoltan Magyari
					li Zsombor Vari
		br
		p(class="text credits")
			a(target="_blank" href="https://pikvm.org") PiKVM Project
			| &nbsp; | &nbsp;
			a(target="_blank" href="https://docs.pikvm.org") Documentation
			| &nbsp; | &nbsp;
			a(target="_blank" href="https://pikvm.org/support") Support
